
* {
    box-sizing: border-box;
}
.body {
    font-family: Arial, Verdana, sans-serif;  
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;    
    
}
header {
    color: green;
    background-size: cover;
    background-position: center;
    position: relative;
}
nav {
    background-color: grey;
    font-size: 30px;
    color: white;
}
.nav li{
    display: inline;
    list-style-type: none;
    
}

.navbar h1 {
    color: #6ab446;
  }
.btn {
    border: none;
    color: greenyellow;
    padding: 32px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
}
.register{
    margin-right: -px;
}